.btn-tag {
    padding: 8px 15px;
    margin: 5px;
    border: 1px solid #ccc;
    background: #f0f0f0;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s;
}

/* Quando o JS adicionar essa classe, o estilo muda */
.btn-tag.selecionado {
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
}